<div class="pic">
    <div class="pic">
      <img [src]="ItemPhim.hinhAnh" />
    </div>
    <div class="overflow"></div>
    <div class="contents">
      <div style="height:60%">
        <h2>{{ ItemPhim.tenPhim }}</h2>
      </div>
      <a
        class="btn btn--white mua-ve"
        routerLink="/chitiet/{{ItemPhim.maPhim}}"
        ><i class="fa fa-ticket" aria-hidden="true"></i>CHI TIẾT</a
      >
      <a
        class="btn btn--white trailer"
        (click)="beginTrailer(ItemPhim)"
        aria-hidden="true"
        data-toggle="modal"
        data-target="#exampleModalLong"
        ><i class="fa fa-play" aria-hidden="true"></i> TRAILER</a
      >
  
      <p>
        <small>Đánh giá: </small>
        <i
          class="fa fa-star star"
          aria-hidden="true"
          [ngClass]="{ starActive: ItemPhim.danhGia >= 0.5 }"
        ></i>
        <i
          class="fa fa-star star"
          aria-hidden="true"
          [ngClass]="{ starActive: ItemPhim.danhGia >= 1.5 }"
        ></i>
        <i
          class="fa fa-star star"
          aria-hidden="true"
          [ngClass]="{ starActive: ItemPhim.danhGia >= 2.5 }"
        ></i>
        <i
          class="fa fa-star star"
          aria-hidden="true"
          [ngClass]="{ starActive: ItemPhim.danhGia >= 3.5 }"
        ></i>
        <i
          class="fa fa-star star"
          aria-hidden="true"
          [ngClass]="{ starActive: ItemPhim.danhGia >= 4.5 }"
        ></i>
      </p>
      <p>
        <small>Ngày khởi chiếu:</small>
        {{ ItemPhim.ngayKhoiChieu | date: "dd-MM-yy" }}
      </p>
    </div>
  </div>
  
  