<section class="carousel">
  <ul class="pgwSlider">
    <li>
      <img src="http://movieapi.cyberlearn.vn/hinhanh/ban-tay-diet-quy.png" />
      <div class="trailer text-center">
        <i
          class="fa fa-play"
          aria-hidden="true"
          data-toggle="modal"
          data-target="#exampleModal"
        ></i>
      </div>
    </li>
    <li>
      <img src="http://movieapi.cyberlearn.vn/hinhanh/lat-mat-48h.png" />
      <div class="trailer text-center">
        <i
          class="fa fa-play"
          aria-hidden="true"
          data-toggle="modal"
          data-target="#exampleModal"
        ></i>
      </div>
    </li>
    <li>
      <img src="http://movieapi.cyberlearn.vn/hinhanh/cuoc-chien-sinh-tu.png" />
      <div class="trailer text-center">
        <i
          class="fa fa-play"
          aria-hidden="true"
          data-toggle="modal"
          data-target="#exampleModal"
        ></i>
      </div>
    </li>
  </ul>
</section>
